.header {
  display: flex;
  justify-content: space-between;
  p {
    color: rgb(82, 79, 79)
  }
} 

.header-avatar {
  text-align: center;
  align-items: center;
}

.cover-picture {
  background-image: asset-url('houses_in_forest');
  background-size: cover;
  height: 350px;
  width: 600px;
  border-radius: 15px 0 0 15px;
}

.middle-picture {
  background-image: asset-url('river');
  background-size: cover;
  height: 168px;
  width: 325px;
}

.outer-picture {
  background-image: asset-url('river');
  background-size: cover;
  height: 168px;
  width: 325px;
  border-radius: 0 15px 15px 0;
}


