.header {
  display: flex;
  justify-content: space-between;
  p {
    color: rgb(82, 79, 79)
  }
} 



.header-avatar {
  text-align: center;
  align-items: center;
}


.cover-picture {
  background-image: asset-url('houses_in_forest');
  background-size: cover;
  height:417px;
  width: 600px;
  border-radius: 15px 0 0 15px;
}

.top-middle-picture {
  background-image: asset-url('river');
  background-size: cover;
  object-position: center;
  height: 200px;
  width: 325px;
  margin-bottom: 17px;
  margin-left: 16px;
}

.bottom-middle-picture{
  background-image: asset-url('river');
  background-size: cover;
  object-position: center;
  height: 200px;
  width: 325px;
  margin-bottom: 20px;
  margin-left: 16px;
}

.top-outer-picture {
  background-image: asset-url('river');
  // background-size: cover;
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 325px;
  border-radius: 0 15px 0 0;
  margin-bottom: 15px;
  margin-left: 16px;
}

.bottom-outer-picture {
  background-image: asset-url('river');
  // background-size: cover;
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 325px;
  border-radius: 0 0 15px 0;
  margin-bottom: 16px;
  margin-left: 16px;
}

.outer-picture {
  background-image: asset-url('river');
  // background-size: cover;
  object-fit: cover;
  object-position: center;
  height: 192px;
  width: 325px;
  border-radius: 0 15px 15px 0;
}

.fas {
  color: #35004b;
}

.fab {
  color: #35004b;
}

.button {
   color: white;
  padding: 8px 24px;
  color:white;
  background: rgba(185, 33, 250, 0.67);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.button:hover {
      background: #B921FA;
      color: white;
  }

  .button-white:hover {
      background: white;
      color: black;
  }

  .confirmation .button {
    position: relative;
    left: 285px;
  }



.gallery{
  display: grid;
}

