<!--<canvas id="granim-canvas"></canvas>-->
<div class="container_home_page text-center">
    <div class="planet_one granim-gradient newly-added"></div>
    <div class="card-white text-center" id="introduction">
        <h1 class="title_home_page newly-added">Pianeta</h1>
        <div class="white-line newly-added"></div>
        </div>
        <div class= "card-description">
        <p class="homepage newly-added">
        Space is full of surprises. Pianeta offers space travellers an array of Planet destinations that everyone dreams of visiting, anywhere in the universe. Ready to sail the stars on the way to discovering infinity and beyond?
        <br>
        <br>
        <%= link_to "Go Beyond", planets_path, class: "btn-blue newly-added" %>
        </p>
        </div>
    </div>
    <div class="planet_two granim-gradient newly-added"></div>
</div>

