<!-- Create a <canvas> element -->
<canvas id="granim-canvas"></canvas>
<div class="container text-center">
    <div class="planet_one granim-gradient"></div>
    <div class="card-white text-center" id="introduction">
        <h1>Pianeta</h1>
        <div class="white-line"></div>
        <p>
        This is a brief description of what service the platform offers.
        </p>
        <a href="#" class="btn-blue">Enter Site</a>
    </div>
    <div class="planet_two granim-gradient"></div>
</div>