<!--<canvas id="granim-canvas"></canvas>-->
<div class="container_home_page text-center">
    <div class="planet_one granim-gradient"></div>
    <div class="card-white text-center" id="introduction">
        <h1 id="title_home_page">Pianeta</h1>
        <div class="white-line"></div>
        <p>
        This is a brief description of what service the platform offers.
        </p>
        <a href="http://localhost:3000/planets" class="btn-blue">Enter Site</a>
    </div>
    <div class="planet_two granim-gradient"></div>
</div>