.card {
  border: 1px solid rgb(184, 182, 182);
  padding: 16px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.card-confirmation {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.card span {
  font-size: 18px;
}

.cards{
  display: flex;
  // grid-template-columns: (3, 1fr);
  margin: 0 auto;
  box-shadow: 20px;
  gap: 80px;
  width: 500px;
  justify-content: space-between;
  
  }


.card-category-planets {
background: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
width: 365px;
height: 300px;
padding-bottom: 20px;
margin-bottom: 40px;
display:inline-block;
justify-content: space-between;
margin-left: 30px;
left: 30px;
// background-size: cover;
// background-position: center;

// display: flex;
// justify-content: center;
// align-items: center;
}

.planet-images {
height: 200px;
width: 100%;
object-fit: cover;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
display: block;
}

.card-category-planets h3 {
font-size: 24px;
font-weight: bold;
margin: 0;
padding: 0px;
color: black;
}

.card-category-planets p {
font-size: 18px;
opacity: .7;
margin: 0px;
color:black;
}



.card-category-planets .card-planets-body {
padding: 16px;
display: flex;
justify-content: space-between;
align-items: flex-end;
position: relative;
}