@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body .container_home_page {
    position: relative;
    width: 100%;
    height: 900px;
}
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    background: linear-gradient(180deg, rgba(143, 39, 187, 0.94) 22.72%, rgba(15, 237, 252, 0.94) 119.28%);
}
.planet_one {
    position: absolute;
    left: 9.38%;
    right: 75.07%;
    top: 21.33%;
    bottom: 53.78%;
    background: linear-gradient(0deg, #FFCA40 0%, #961919 100%);
    height: 224px;
    width: 224px;
    left: 135px;
    top: 192px;
    border-radius: 100%;
}
.card-white{
    height: 112px;
    width: 357px;
    left: 541px;
    top: 360px;
    position: absolute;
}
.white-line{
    left: 527px;
    border: 4px solid #FFFFFF;
}
h1{
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-size: 86px;
    line-height: 112px;
    text-transform: uppercase;
    color:#FFFFFF;
}
p.homepage {
    margin-top:15px;
    height: 42px;
    left: 476px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.btn-blue{
    width: 140px;
    height: 44px;
    left: 650px;
    top: 610px;
    background: #2A003C;
    padding: 6px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.btn-blue:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.planet_two {
    position: absolute;
    left: 77.22%;
    right: 10.44%;
    top: 60.11%;
    bottom: 20.14%;
    background: linear-gradient(46.57deg, #0DB899 45.08%, #311996 111.67%);
    width: 177.72px;
    height: 177.72px;
    top: 541px;
    left: 1112px;
    border-radius: 100%;
}