// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "home_page";
@import "card";





  .btn-flat {
  position: relative;
  left: 90px;
  color:white;
  background: #ca50ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  }

.btn:hover {
      background: #B921FA;
      color: white;
  }
  
  input.form-control:focus {
  border: 1px solid #B921FA;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }

  input.form-control{
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #2A003C;
  height: 40px;
  color:black;
  border-radius: 10px;
  }

  .planets input.form-control{
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #2A003C;
  width: 200px;
  height: 40px;
  color:black;
  border-radius: 10px;
  }

  .inner-form{
      background: rgba(0, 0, 0, 0.2);
      padding: 16px;
      border-radius: 10px;
      justify-items: center;
      align-content: left;
      width: 1100px;
      margin-left: 178px;
      margin-top: 155px;
  }

  .footer {
    background: linear-gradient(180deg, rgba(23, 127, 212, 0.94) 22.72%, rgba(143, 39, 187, 0.94) 119.28%,);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    width: 100%;
    padding: 0px 50px;
    color: white;
  }
  .footer-links {
    display: flex;
    align-items: center;
    color:white;
    opacity: 0,5;
  }
  .footer-links a {
    color: white;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }

