// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "home_page";
@import "card";



.cards{
    display: flex;
    // grid-template-columns: (3, 1fr);
    margin: 0 auto;
    box-shadow: 20px;
    gap: 80px;
    width: 500px;
    justify-content: space-between;
    
    }


.card-category-planets {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 365px;
  height: 300px;
  padding-bottom: 20px;
  margin-bottom: 40px;

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-category-planets > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}
  
.card-category-planets h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0px;
}

.card-category-planets p {
  font-size: 18px;
  opacity: .7;
  margin: 0px;
}

  
  
.card-category-planets .card-planets-body {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

  .planets .btn {
  position: relative;
  left: 50px;
  color:white;
  background: rgba(185, 33, 250, 0.67);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  }

.btn:hover {
      background: #B921FA;
      color: white;
  }
  
  input.form-control:focus {
  border: 1px solid #B921FA;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }

  input.form-control{
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #2A003C;
  height: 40px;
  color:black;
  border-radius: 10px;
  }

  .planets input.form-control{
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #2A003C;
  width: 200px;
  height: 40px;
  color:black;
  border-radius: 10px;
  }

  .inner-form{
      background: #e2e2e2;
      padding: 16px;
      border-radius: 10px;
      justify-items: center;
      align-content: left;
      width: 1100px;
      margin-left: 178px;
      margin-top: 155px;
  }
