  
.navbar-lewagon {
    justify-content: space-between;
    background: #fff;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
    background-color: black;
    border-radius: 50%;
  }

  .btn-outline-primary{
      color:#B921FA;
      border-color:rgba(185, 33, 250, 0.67);
      border-radius: 50px;
      //padding: 10px 20px;
      //margin-right: 10px;
      padding-left:5px;
      padding-right:5px;
      background-color: #fff;
      padding-top: -5px;
      padding-bottom: 0px;
    }
    
    .btn-outline-primary-1{
      color:#B921FA;
      border-color:rgba(185, 33, 250, 0.67);
      border-radius: 50px;
      padding-left:5px;
      padding-right:5px;
      background-color: #fff;
      padding-top: -5px;
      padding-bottom: 0px;
      margin-right: 10px;
    }
    
    .btn-outline-primary:hover{
        color:#43025f ;
        background-color:#fff;
        border-color:#43025f;
        border-width: 2px;
        font-weight: bold;
        
    }

    .navbar-logo{
        font-size: 32px;
        font-family: 'KoHo', sans-serif;
        color:#2A003C;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .btn-outline-primary:active, .btn-outline-primary:visited {
      background-color: #fff !important;
      color:#B921FA !important;
      border-color:#B921FA !important;
  }

  .image_tag{
    object-fit: cover;
  }

  .dropdown-menu-right:active, .dropdown-menu-right:visited {
    background-color: #fff !important;
    color:#B921FA !important;
    border-color:#B921FA !important;
}
